<section id="<%=id %>" class="window modal" style="display: none;">
    <div class="close disabled">×</div>
    <h3 class="title drag-handle"><%=title %></h3>

    <div class="panel">
        <label>
            <span>Server Gate:</span>
            <input name="server-url" type="text" value="http://fsggs.github.io/api/"/>
            <span class="hint" style="padding-left: 68px;">
                Example: http://fsggs.github.io/api/
            </span>
        </label>

        <div class="button-box">
            <button class="button check">Check</button>
            <button class="button success apply disabled">Apply</button>
        </div>

        <span class="status">
            This dialog can called from options, or F2 in main menu.
        </span>
    </div>
</section>
