<!-- +Client Main -->
<div id=client-wrapper>
    <div id=client-logo></div>
    <div id=client-orbital-objects>
        <div id="news-1" class="news"></div>
        <div id="news-2" class="news"></div>
        <div id="news-3" class="news"></div>
    </div>
    <div id=client-menu>
        <div id=client-menu-button1 class="link client-menu-button play"
             data-href="_w:client/windows/ServerBrowserWindow">Play
        </div>
        <div id=client-menu-button2 class="link client-menu-button play_online"
             data-href="fn:connect">Online
        </div>
        <div id=client-menu-button3 class="link client-menu-button options"
             data-href="_w:client/windows/ClientOptionWindow">Options
        </div>
        <div id=client-menu-button4 class="link client-menu-button exit"
             data-href="fn:close">Exit
        </div>
    </div>

    <div id="mod-menu">
        <!--
        <div id="client-menu-button5" class="link client-menu-button"
             data-href="link:#!editor">Editor</div>
        <div id="client-menu-button6" class="link client-menu-button"
             data-href="_w:ChangeGameModWindow">FSGGS Mod
        </div>
        -->
    </div>
    <div id="service-menu">
        <!--
        <div id="client-menu-button7" class="link client-menu-button"
             ata-href="_w:DebugServerWindow">FS Debug
        </div>
        -->
        <div id="client-menu-button8" class="link client-menu-button"
             data-href="_w:client/windows/LicenseWindow" style="position: absolute;bottom: 0;">License
        </div>
    </div>

    <div id=client-version>1.0.0.faf71</div>
</div>
<!-- -Client Main -->
