<!-- +Client Main -->
<div id=client-wrapper>
    <div id=client-logo></div>
    <div id=client-orbital-objects>
        <div id="news-1" class="news"></div>
        <div id="news-2" class="news"></div>
        <div id="news-3" class="news"></div>
    </div>
    <div id=client-menu>
        <div id=client-menu-button1 class="link client-menu-button play"
             data-href="_w:ServerBrowserWindow">Play
        </div>
        <div id=client-menu-button2 class="link client-menu-button play_online"
             data-href="_w:ServerOnlineWindow">Online
        </div>
        <div id=client-menu-button3 class="link client-menu-button options"
             data-href="_w:ClientOptionWindow">Options
        </div>
        <div id=client-menu-button4 class="link client-menu-button exit"
             data-href="fn:closeLauncher">Exit
        </div>
    </div>

    <div id="mod-menu">
        <div id="client-menu-button5" class="link client-menu-button"
             data-href="link:#!editor">Editor</div>
        <div id="client-menu-button6" class="link client-menu-button"
             data-href="_w:ChangeGameModWindow">FSGGS Mod
        </div>
    </div>
    <div id="service-menu">
        <!--data-href="_w:DebugServerWindow">FS Debug-->
        <div id="client-menu-button7" class="link client-menu-button"
             data-href="_w:common/TestWindow">Test
        </div>
        <div id="client-menu-button8" class="link client-menu-button"
             data-href="_w:LicenseWindow">License
        </div>
    </div>

    <div id=client-version></div>
</div>
<!-- -Client Main -->
