section#client #client-menu {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto 0;
    width: 150px;
    height: 164px;
}

section#client #mod-menu {
    position: absolute;
    top: 10px;
    left: 10px;
    margin: auto 0;
    width: 150px;
    height: 38px;
}

section#client #service-menu {
    position: absolute;
    left: 10px;
    bottom: 10px;
    margin: auto 0;
    width: 150px;
    height: 80px;
}

section#client #client-menu > .client-menu-button,
section#client #mod-menu > .client-menu-button,
section#client #service-menu > .client-menu-button {
    margin-bottom: 10px;
}

section#client #client-menu > .client-menu-button:last-child,
section#client #mod-menu > .client-menu-button:last-child,
section#client #service-menu > .client-menu-button:last-child {
    margin-bottom: 0;
}

section#client .client-menu-button {
    display: inline-block;

    min-width: 120px;
    text-align: center;

    color: #6c6c6c;
    background-color: #ECECEC;
    border: 1px solid #AFAFAF;

    padding: 6px 8px 6px 7px;
    margin: 1px 1px 1px 0;

    border-radius: 2px;

    cursor: pointer;

    -webkit-box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.25);
    box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.25);
}

section#client .client-menu-button:not(.disabled):hover,
section#client .client-menu-button:not(.disabled).hover {
    -webkit-box-shadow: 0 -1px 1px 0 rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0 -1px 1px 0 rgba(50, 50, 50, 0.25);
    box-shadow: 0 -1px 1px 0 rgba(50, 50, 50, 0.25);
}

section#client .client-menu-button:not(.disabled):active,
section#client .client-menu-button:not(.disabled).active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

section#client .client-menu-button.disabled {
    opacity: .65;
}

/*---------------------- w Console ----------------------*/
section#console > #console-panel {
    position: relative;
    float: left;
    width: 450px;
    height: 322px;

    background: #ccc;
    border: 1px solid #A19E9E;
    border-radius: 2px;

    user-select: all;
    -webkit-user-select: auto;
    -moz-user-select: all;
}

section#console > #console-input {
    position: relative;
    float: left;
    width: 450px;
    height: 26px;
    background: #ccc;
    border: 1px solid #A19E9E;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

section#console > #console-input > input {
    width: 430px;
    height: 25px;
    background: #ccc;
    padding: 0 5px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
}

section#console > #console-panel p.message {
    padding: 1px 4px;
    word-break: break-all;
}

/*---------------------- w Master Server ----------------------*/
section#master-server > .panel {
    position: relative;
    float: left;
    width: 346px;
    height: 105px;
    background: #ccc;
    border: 1px solid #A19E9E;
    border-radius: 2px;
}

section#master-server .panel .button-box {
    position: absolute;
    left: 215px;
    top: 48px;
}

section#master-server .panel span.status {
    position: absolute;
    left: 5px;
    bottom: 3px;
}
