@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url('launcher.css');
@import url('client.css');
@import url('libs/jquery.mCustomScrollbar.css');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    cursor: url('../img/cursors/default.cur'), default;
}

p, span, input {
    font-family: 'Open Sans';
}

input, textarea {
    cursor: text;
}

html, body {
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    background: linear-gradient(to top, #72a2ae, #90c5d2);

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.window {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 400;

    min-width: 250px;
    min-height: 50px;

    background: #aaa;
    font-family: 'Open Sans';
    font-size: 8pt;

    border-radius: 4px;
    padding: 20px 3px 4px 1px;

    -webkit-box-shadow: 1px 2px 5px 0 rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 1px 2px 5px 0 rgba(50, 50, 50, 0.5);
    box-shadow: 1px 2px 5px 0 rgba(50, 50, 50, 0.5);

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.window .title {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 20px;

    font-size: 10pt;
    font-weight: 100;
    color: #F2F2F2;

    padding: 2px 0 0 5px;
}

.window .panel {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    background: #ccc;
    border: 1px solid #A19E9E;
    border-radius: 2px;
}

.window.draggable > .drag-handle {
    cursor: move !important;
}

.window > .close {
    position: absolute;
    top: 0;
    right: 7px;
    width: 20px;
    height: 14px;
    background: #DB6E6E;
    text-align: center;
    line-height: 13px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: white;
    cursor: pointer;
    border: 1px solid rgba(155, 155, 155, 0.5);
}

.window > .close:not(.disabled):hover {
    -webkit-box-shadow: 0 -1px 1px 0 rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0 -1px 1px 0 rgba(50, 50, 50, 0.25);
    box-shadow: 0 -1px 1px 0 rgba(50, 50, 50, 0.25);
}

.window > .close:not(.disabled):active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.window > .close.disabled {
    background: #9C9898;
    cursor: url('../img/cursors/default.cur'), default;
}

.window .button {
    display: inline-block;

    color: #6c6c6c;

    padding: 6px 8px 6px 7px;
    margin: 1px 1px 1px 0;

    border-radius: 2px;

    cursor: pointer;

    -webkit-box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.25);
    box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.25);
}

.window .button.primary {
    color: #F2F2F2;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.window .button.primary:not(.disabled):hover,
.window .button.primary:not(.disabled).hover {
    color: #F2F2F2;
    background-color: #286090;
    border-color: #204d74;
}

.window .button.success {
    color: #F2F2F2;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.window .button.success:not(.disabled):hover,
.window .button.success:not(.disabled).hover {
    color: #F2F2F2;
    background-color: #449d44;
    border-color: #398439;
}

.window .button.info {
    color: #F2F2F2;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.window .button.info:not(.disabled):hover,
.window .button.info:not(.disabled).hover {
    color: #F2F2F2;
    background-color: #31b0d5;
    border-color: #269abc;
}

.window .button.warning {
    color: #F2F2F2;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.window .button.warning:not(.disabled):hover,
.window .button.warning:not(.disabled).hover {
    color: #F2F2F2;
    background-color: #ec971f;
    border-color: #d58512;
}

.window .button.danger {
    color: #F2F2F2;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.window .button.danger:not(.disabled):hover,
.window .button.danger:not(.disabled).hover {
    color: #F2F2F2;
    background-color: #c9302c;
    border-color: #ac2925;
}

.window .button:not(.disabled):hover,
.window .button:not(.disabled).hover {
    -webkit-box-shadow: 0 -1px 1px 0 rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0 -1px 1px 0 rgba(50, 50, 50, 0.25);
    box-shadow: 0 -1px 1px 0 rgba(50, 50, 50, 0.25);
}

.window .button:not(.disabled):active,
.window .button:not(.disabled).active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.window .button.disabled {
    opacity: .65;
}

/*---------------------- w Error ----------------------*/
section.window.error .message {
    font-size: 8pt;
    text-align: center;
    width: 100%;
    position: relative;
    display: inline-block;
    line-height: 80px;
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
}
