@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url('launcher.css');
@import url('client.css');
@import url('libs/jquery.mCustomScrollbar.css');

* {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	cursor: url('../img/cursors/default.cur'), default;
}

p, span, input {
	font-family: 'Open Sans';
}

input, textarea {
	cursor: text;
}

html, body {
	height: 100%;
	width: 100%;
	min-height: 100%;
	min-width: 100%;
	background: linear-gradient(to top, #72a2ae, #90c5d2);
}

.window.draggable > h3 {
	cursor: move !important;
}

.window > .close {
	position: absolute;
	top: 0;
	right: 7px;
	width: 20px;
	height: 14px;
	background: #DB6E6E;
	text-align: center;
	line-height: 13px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	color: white;
	cursor: pointer;
	border: 1px solid rgba(155, 155, 155, 0.5);
}

.window > .close.disabled {
    background: #9C9898;
    cursor: url('../img/cursors/default.cur'), default;
}

.window .button {
    display: inline-block;

    color: #6c6c6c;

    padding: 6px 4px 6px 3px;
    margin: 1px 1px 1px 0;

    border-radius: 2px;

    cursor: pointer;

    -webkit-box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    0 1px 1px 0 rgba(50, 50, 50, 0.25);
    box-shadow:         0 1px 1px 0 rgba(50, 50, 50, 0.25);
}

.window .button:not(.disabled):hover,
.window .button:not(.disabled).hover {
    -webkit-box-shadow: 0 -1px 1px 0 rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    0 -1px 1px 0 rgba(50, 50, 50, 0.25);
    box-shadow:         0 -1px 1px 0 rgba(50, 50, 50, 0.25);
}

.window .button:not(.disabled):active,
.window .button:not(.disabled).active {
    color: #979797;
}

.window .button.disabled {
    color: #979797;
}
