@import url('launcher.css');
@import url('client.css');
@import url('libs/jquery.mCustomScrollbar.css');

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'),
    url('../fonts/OpenSansNormal.woff2') format('woff2'),
    url('../fonts/OpenSansNormal.eot') format('opentype'),
    url('../fonts/OpenSansNormal.woff') format('woff'),
    url('../fonts/OpenSansNormal.ttf') format('truetype');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    cursor: url('../img/cursors/default.cur'), default;
}

a, a:focus, a:visited, a:active {
    color: #14ABD0;
    text-decoration: none;
    cursor: pointer;
}

p, span, input {
    font-family: 'Open Sans', Tahoma, serif;
    font-size: 0.7em;
    color: #636363;
    font-weight: 100;
}

h3 {
    font-weight: 100;
}

input, textarea {
    cursor: text;
}

html, body {
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    background: linear-gradient(to top, #72a2ae, #90c5d2);

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

#blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100000;

    color: white;
    text-align: center;
    line-height: 600px;

    background-color: rgba(0, 0, 0, 1);
}

#modal-background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;

    background-color: rgba(0, 0, 0, 0.75);
}

.window {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

    min-width: 250px;
    min-height: 50px;

    background: #aaa;

    border-radius: 4px;
    padding: 20px 3px 4px 1px;

    -webkit-box-shadow: 1px 2px 5px 0 rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 1px 2px 5px 0 rgba(50, 50, 50, 0.5);
    box-shadow: 1px 2px 5px 0 rgba(50, 50, 50, 0.5);

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.window .title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;

    font-size: 0.8em;
    color: #F2F2F2;
    line-height: 18px;

    padding: 2px 0 0 5px;
}

section.window .title:before {
    display: inline-block;
    content: '#';
    padding-right: 4px;
}

.window .panel {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    background: #ccc;
    border: 1px solid #A19E9E;
    border-radius: 2px;
}

.window.draggable > .drag-handle {
    cursor: move !important;
}

.window > .close {
    position: absolute;
    top: 0;
    right: 7px;
    width: 20px;
    height: 14px;
    background: #DB6E6E;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
    border: 1px solid rgba(155, 155, 155, 0.5);
}

.window > .close:after {
    display: block;
    content: '×';
    margin-top: -2px;
    text-align: center;
    color: white;

    width: 20px;
}

.window > .close:not(.disabled):hover {
    -webkit-box-shadow: 0 -1px 1px 0 rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0 -1px 1px 0 rgba(50, 50, 50, 0.25);
    box-shadow: 0 -1px 1px 0 rgba(50, 50, 50, 0.25);
}

.window > .close:not(.disabled):active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.window > .close.disabled {
    background: #9C9898;
    cursor: url('../img/cursors/default.cur'), default;
}

.window .button {
    display: inline-block;

    color: #6c6c6c;

    padding: 6px 8px 6px 7px;
    margin: 1px 1px 1px 0;

    border-radius: 2px;

    cursor: pointer;

    -webkit-box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.25);
    box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.25);
}

.window .button.primary {
    color: #F2F2F2;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.window .button.primary:not(.disabled):hover,
.window .button.primary:not(.disabled).hover {
    color: #F2F2F2;
    background-color: #286090;
    border-color: #204d74;
}

.window .button.success {
    color: #F2F2F2;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.window .button.success:not(.disabled):hover,
.window .button.success:not(.disabled).hover {
    color: #F2F2F2;
    background-color: #449d44;
    border-color: #398439;
}

.window .button.info {
    color: #F2F2F2;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.window .button.info:not(.disabled):hover,
.window .button.info:not(.disabled).hover {
    color: #F2F2F2;
    background-color: #31b0d5;
    border-color: #269abc;
}

.window .button.warning {
    color: #F2F2F2;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.window .button.warning:not(.disabled):hover,
.window .button.warning:not(.disabled).hover {
    color: #F2F2F2;
    background-color: #ec971f;
    border-color: #d58512;
}

.window .button.danger {
    color: #F2F2F2;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.window .button.danger:not(.disabled):hover,
.window .button.danger:not(.disabled).hover {
    color: #F2F2F2;
    background-color: #c9302c;
    border-color: #ac2925;
}

.window .button:not(.disabled):hover,
.window .button:not(.disabled).hover {
    -webkit-box-shadow: 0 -1px 1px 0 rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0 -1px 1px 0 rgba(50, 50, 50, 0.25);
    box-shadow: 0 -1px 1px 0 rgba(50, 50, 50, 0.25);
}

.window .button:not(.disabled):active,
.window .button:not(.disabled).active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.window .button.disabled {
    opacity: .65;
}

/*---------------------- w Error ----------------------*/
section.window.error {
    width: 350px;
    height: 80px;
}

section.window.error .message {
    text-align: center;
    width: 100%;
    position: relative;
    display: inline-block;
    line-height: 80px;
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
}

.window .panel label {
    display: block;
    margin: 5px 0 0 5px;
}

.window .panel label input[type=text] {
    width: 250px;
    height: 25px;
    background: #eaeaea;
    padding: 0 5px;

    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
}

.window .panel .tabs {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.window .panel .tabs:after {
    content: "";
    clear: both;
    display: block;
    height: 240px;
}

.window .panel .tabs li {
    float: left;
}

.window .panel .tabs li > input {
    display: none;
}

.window .panel .tabs li > label {
    display: inline-block;
    margin: 5px 3px 0 0;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    color: #F5F5F5;
    background-color: #AAAAAA;
    padding: 3px 10px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.window .panel .tabs li:first-child > label {
    margin: 5px 3px 0 5px;
}

.window .panel .tabs li:last-child > label {
    border-right-width: 1px;
}

.window .panel .tabs .tab-content {
    display: none;
    position: absolute;
    left: 0;
    margin: 0 1%;
    height: 99%;
    width: 98%;
    overflow-y: auto;

    padding: 8px 0;
    background-color: #F5F5F5;
}

.window .panel .tabs .tab-content p {
    padding: 7px 5px;
    text-indent: 10px;
    text-align: justify;
    font-size: 0.8em;
}

.window .panel .tabs li > input:checked + label {
    background-color: #F5F5F5;
    color: #636363;
}

.window .panel .tabs li > input:checked ~ .tab-content {
    display: block;
}
